<div class="contextual">
<%= link_to_if_authorized l(:label_manage_ftpservers),
                          {:controller => 'ftpservers', :action => 'index', :project_id => @project},
                          :class => 'icon icon-admin' %>
</div>

<center><div id="ezftpsearch">
  <br clear="all"/>
  <br/>
  <%= image_tag "ezftpsearch.png", :plugin => "redmine_ezftpsearch" %>
  <br/>
  <%= render :partial => 'ezftpsearch/search_form' %>
</div></center>

<% html_title(l(:label_ezftpsearch)) -%>